/*! SEO Audit.css Docs | MIT License | github.com/picturepan2/seo-audit.css */
.version::after {
  content: "0.1.0";
}

.section-navbar {
  background: #f7f8f9;
  height: 4rem;
  letter-spacing: -.025rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 49;
}

.section-navbar .navbar-section {
  padding-left: .4rem;
  padding-right: .4rem;
}

.section-navbar .navbar-brand {
  color: #5755d9;
  font-weight: 700;
  height: 2rem;
  line-height: 1.8rem;
}

.section-navbar .btn-link {
  border: 0;
  border-bottom: .1rem solid transparent;
  border-radius: 0;
  margin-left: .6rem;
  margin-right: .6rem;
  padding-left: 0;
  padding-right: 0;
}

.section-navbar .btn-link.active,
.section-navbar .btn-link:active,
.section-navbar .btn-link:focus {
  border-color: #5755d9;
  box-shadow: none;
  color: #5755d9;
}

.section-docs {
  padding: 5rem 0;
}

.section-docs .anchor {
  color: #6362dc;
  display: none;
  margin-left: .2rem;
  padding: 0 .2rem;
}

.section-docs .anchor:focus,
.section-docs .anchor:hover {
  display: inline;
  text-decoration: none;
}

.section-docs .s-title,
.section-docs .s-subtitle {
  font-weight: 700;
  line-height: 1.8rem;
  margin-bottom: 0;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.section-docs .s-title:hover .anchor,
.section-docs .s-subtitle:hover .anchor {
  display: inline;
}

.section-docs .s-title + .docs-note,
.section-docs .s-subtitle + .docs-note {
  margin-top: .4rem;
}

.section-docs .docs-demo {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.section-docs .code .hljs-tag {
  color: #303742;
}

.section-docs .code .hljs-comment {
  color: #bcc3ce;
}

.section-docs .code .hljs-title,
.section-docs .code .hljs-class,
.section-docs .code .hljs-string,
.section-docs .code .hljs-number {
  color: #5755d9;
}

.section-docs .code .hljs-name,
.section-docs .code .hljs-attribute,
.section-docs .code .hljs-variable,
.section-docs .code .hljs-keyword,
.section-docs .code .hljs-built_in {
  color: #d73e48;
}

.section-docs .code .hljs-value,
.section-docs .code .hljs-hexcolor {
  color: #303742;
}

.section-docs .c-select-all {
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

.docs-brand {
  color: #5755d9;
  height: 2rem;
}

.docs-brand .docs-logo {
  align-items: center;
  display: inline-flex;
  display: -ms-inline-flexbox;
  -ms-flex-align: center;
  font-size: .7rem;
  height: 2rem;
  padding: .2rem;
  width: auto;
}

.docs-brand .docs-logo:focus,
.docs-brand .docs-logo:hover {
  text-decoration: none;
}

.docs-brand .docs-logo img {
  display: inline-block;
  height: auto;
  width: 1.6rem;
}

.docs-brand .docs-logo h1 {
  display: inline-block;
  font-size: .8rem;
  font-weight: 700;
  line-height: 1.5rem;
  margin-bottom: 0;
  margin-left: .5rem;
  margin-right: .3rem;
}

.docs-footer {
  color: #bcc3ce;
  padding: .5rem;
}

.docs-footer a {
  color: #66758c;
}

.docs-ad {
  background: #f7f8f9;
  border-radius: .2rem;
  display: block;
  margin: 2rem 0;
  padding: 8px;
  position: relative;
}

.docs-ad ins {
  line-height: 1;
  vertical-align: middle;
}

.docs-ad .carbon-wrap .carbon-img {
  display: block;
}

.docs-ad .carbon-wrap .carbon-text {
  color: #66758c;
  display: block;
  font-size: .7rem;
}

.docs-ad .carbon-poweredby {
  color: #bcc3ce;
  font-size: .7rem;
}

/* Spectre Homepage style */
.section-hero {
  padding: 1rem .5rem;
}

.section-hero .docs-brand {
  position: absolute;
  top: .85rem;
}

.section-hero .docs-brand h2 {
  color: #5755d9;
}

.section-hero .column {
  padding: 8px;
}

.section-ads {
  padding: 1rem .5rem;
}

.section-updates {
  padding: 4.5rem .5rem 2.5rem .5rem;
}

.section-updates .card {
  border: 0;
  margin-bottom: 1rem;
}

.section-features {
  padding: 4.5rem .5rem;
}

.section-features .column {
  padding: 8px;
}

.section-footer {
  color: #bcc3ce;
  padding: 1.8rem .75rem 1rem;
  position: relative;
  z-index: 200;
}

.section-footer a {
  color: #66758c;
}

.grid-hero {
  padding-bottom: 2rem;
  padding-top: 6rem;
}

.grid-hero h1 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.grid-hero h2 {
  color: #303742;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

.grid-hero h2 u {
  border-bottom: 2px solid currentColor;
  padding-bottom: 1px;
  text-decoration: none;
}

.grid-hero .card {
  background: none;
  border: 0;
  color: #303742;
  padding: .5rem;
}

.grid-hero .card .card-title {
  color: #5755d9;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0;
}

@media (max-width: 960px) {
  .docs-sidebar .docs-brand {
    margin: .85rem 1.5rem;
    padding: 0;
    position: static;
  }
  .docs-sidebar .docs-nav {
    margin-top: 1rem;
    position: static;
  }
  .docs-sidebar .menu .menu-item > a {
    padding: .3rem .4rem;
  }
  .docs-navbar {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background: rgba(247, 248, 249, .65);
    left: 0;
  }
  .docs-content {
    min-width: auto;
    padding: 0 1.5rem;
    width: 100%;
  }
  .docs-content .s-title,
  .docs-content .s-subtitle {
    padding-top: 5rem;
    position: static;
  }
  .docs-content .s-title::before,
  .docs-content .s-subtitle::before {
    content: none;
  }
  .section-hero .s-brand {
    height: 5rem;
    padding: 1.5rem .5rem;
    text-align: center;
    width: 100%;
  }
  .section-hero .s-brand .s-logo {
    height: auto;
  }
  .section-hero .s-brand img {
    height: 3.2rem;
    width: 3.2rem;
  }
  .section-hero .s-brand h2 {
    display: none;
  }
}

@media (max-width: 600px) {
  .grid-hero h2 {
    font-size: .9rem;
  }
  .grid-hero .card {
    padding: 0;
  }
  .off-canvas .off-canvas-toggle {
    left: .5rem;
  }
  .docs-navbar .btns {
    right: .9rem;
  }
  .grid-hero .docs-brand {
    left: .9rem;
  }
  .docs-sidebar .docs-brand {
    margin: .85rem 1rem;
  }
  .docs-sidebar .docs-nav {
    padding: .5rem 1rem;
  }
  .docs-content {
    padding: 0 .5rem;
  }
  .docs-content .docs-block {
    padding: 8px 2px;
  }
}

@media (min-width: 1366px) {
  .docs-ad.docs-ad-sidebar {
    bottom: 1rem;
    margin: 0;
    position: fixed;
    right: 1rem;
    width: 7.3rem;
  }
}