extends _layout/_layout.pug

block variables
  - var slug = 'advices'
  - var parent = 'index'
  - var title = 'SEO Advices - SEO Audit.css'
  - var description = 'SEO Audit Tool powered by Pure CSS'

block content
  .section-navbar
    .container
      include _layout/_header.pug

  .section.section-docs
    .container.grid-lg
      +docs-heading('headings', 'Headings')

  .section.section-ads.bg-gray
    include _layout/_ad-c.pug

  footer.section.section-footer
    .container.grid-lg
      include _layout/_footer.pug