extends _layout/_layout.pug

block variables
  - var slug = 'errors'
  - var parent = 'index'
  - var title = 'SEO Errors - SEO Audit.css'
  - var description = 'SEO Audit Tool powered by Pure CSS'

block content
  .section-navbar
    .container
      include _layout/_header.pug
      
  .section.section-docs
    .container.grid-lg
      +docs-heading('missing-empty-href', 'Missing or empty [href]')
        p
          | The #[code href] attribute, if present, should not be empty.
        
        .docs-demo
          .columns
            .column.col-6.col-sm-12
              a() It is a link
            .column.col-6.col-sm-12
              a(href="") It is another link

  .section.section-ads.bg-gray
    include _layout/_ad-c.pug

  footer.section.section-footer
    .container.grid-lg
      include _layout/_footer.pug