extends _layout/_layout.pug

block variables
  - var slug = 'index'
  - var parent = 'index'
  - var title = 'SEO Audit.css'
  - var description = 'SEO Audit Tool powered by Pure CSS'

block content
  .section.section-hero.bg-gray
    #overview.grid-hero.container.grid-lg.text-center
      .docs-brand
        a.docs-logo(href='index.html')
          img(src='assets/img/spectre-logo.svg' alt='A Spectre.css CSS Project')
          h1 SEO AUDIT.CSS
      h1 SEO AUDIT.CSS
      h2
        | On Page SEO Audit Tool powered by Pure CSS
      p
        
        a.btn.btn-primary.btn-lg(href='https://github.com/picturepan2/seo-audit.css' target='_blank') GitHub
      p.text-gray
        | Latest version: 
        span.version
  
  .section.section-docs
    .container.grid-lg

  .section.section-ads.bg-gray
    include _layout/_ad-c.pug

  footer.section.section-footer
    .container.grid-lg
      include _layout/_footer.pug